@use './partials/variables' as *;
@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Work Sans', sans-serif;
}

header {
    background-color: rgba(255, 255, 255, 0.558);
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 180px;
    z-index: 10000;
    nav{
        height: 100%;
        .nav-brand {
            padding-left: 1rem;
            img {
                justify-self: start;
            }
        }
        .nav_menu {
            height: calc(100% - 93px);
            a{
                &.nav-link{
                    color: $darker;
                    text-transform: uppercase;
                    font-weight: 400;
                    letter-spacing: 2px;
                    padding: 1.2rem;
                    &.active {
                        background-color: $secondary;
                    }
                }
            }
        }
}
}

main {
    padding-right: 180px;
    background-image: url('../img/1356b588-a9d7-45a8-af21-02141b1f82fe.png');
    background-size: 400px;
    padding-bottom: 56px;
    margin-bottom: -56px;
    .container {
        padding: 2rem 0;
        .card {
            background-color: transparent;
            color: white;
        }
    }
    .jumbotron {
        background-image: url('../img/1108906-music-headphones-Audifonos-darkness-computer-wallpaper-black-and-white-monochrome-photography.jpeg');
        background-size: cover;
        height: 450px;
        padding-right: 3rem;
    }
    .home_text {
        background-color: black;
        color: white;
        padding-left: 3rem;
    }
}